manifesto_clean.csv
doc_df_with_meta.csv
manifesto_apikey.txt
news_database.csv
new_list_df_example.txt
news_list_df.csv
article_list.txt
listfile.data
test.txt
.Rproj.user
complete_news_df.csv
.RData
.RData
.Rhistory
ReplicationRCode/__MACOSX/._data_chesprior.R
ReplicationRCode/__MACOSX/._data_cmpempdata.R
ReplicationRCode/__MACOSX/._data_ebprior.R
ReplicationRCode/__MACOSX/._main.R
ReplicationRCode/__MACOSX/._README.txt
ReplicationRCode/__MACOSX/datasource/._.DS_Store
ReplicationRCode/__MACOSX/datasource/._emp_cmp_converter.csv
ReplicationRCode/__MACOSX/functions/._.DS_Store
ReplicationRCode/__MACOSX/functions/._fun.R
ReplicationRCode/__MACOSX/models/._.DS_Store
ReplicationRCode/__MACOSX/models/._mcss.bug
ReplicationRCode/__MACOSX/models/._naive.bug
ReplicationRCode/__MACOSX/models/m0/._est_vanilla.R
ReplicationRCode/__MACOSX/models/m1/._data.R
ReplicationRCode/__MACOSX/models/m1/._estimation.R
ReplicationRCode/__MACOSX/models/m2/._estimation.R
ReplicationRCode/__MACOSX/models/m3/._data.R
ReplicationRCode/__MACOSX/models/m3/._estimation.R
ReplicationRCode/__MACOSX/models/m4/._estimation.R
ReplicationRCode/__MACOSX/models/m5/._data.R
ReplicationRCode/__MACOSX/models/m5/._estimation.R
ReplicationRCode/__MACOSX/models/m6/._data.R
ReplicationRCode/__MACOSX/models/m6/._estimation.R
ReplicationRCode/__MACOSX/models/m7/._estimation.R
ReplicationRCode/__MACOSX/models/m8/._data.R
ReplicationRCode/__MACOSX/models/m8/._estimation.R
ReplicationRCode/__MACOSX/pub/._.DS_Store
ReplicationRCode/__MACOSX/pub/._paper.R
ReplicationRCode/__MACOSX/pub/out/._.DS_Store
ReplicationRCode/__MACOSX/results/._.DS_Store
ReplicationRCode/__MACOSX/results/._data_merge.R
ReplicationRCode/data_chesprior.R
ReplicationRCode/data_cmpempdata.R
ReplicationRCode/data_ebprior.R
ReplicationRCode/datasource/.DS_Store
ReplicationRCode/datasource/.svn/entries
ReplicationRCode/datasource/.svn/prop-base/EM79_04.dta.svn-base
ReplicationRCode/datasource/.svn/prop-base/MPDataset_full.csv.svn-base
ReplicationRCode/datasource/.svn/text-base/1999-2006_ChapelHillSurvey.csv.svn-base
ReplicationRCode/datasource/.svn/text-base/EM79_04.dta.svn-base
ReplicationRCode/datasource/.svn/text-base/emp_cmp_converter.csv.svn-base
ReplicationRCode/datasource/.svn/text-base/MPDataset_full.csv.svn-base
ReplicationRCode/datasource/.svn/text-base/pargov_party.csv.svn-base
ReplicationRCode/datasource/emp_cmp_converter.csv
ReplicationRCode/functions/.DS_Store
ReplicationRCode/functions/fun.R
ReplicationRCode/main.R
ReplicationRCode/models/.DS_Store
ReplicationRCode/models/m0/.DS_Store
ReplicationRCode/models/m0/est_vanilla.R
ReplicationRCode/models/m1/.DS_Store
ReplicationRCode/models/m1/data.R
ReplicationRCode/models/m1/estimation.R
ReplicationRCode/models/m2/.DS_Store
ReplicationRCode/models/m2/estimation.R
ReplicationRCode/models/m3/.DS_Store
ReplicationRCode/models/m3/data.R
ReplicationRCode/models/m3/estimation.R
ReplicationRCode/models/m4/.DS_Store
ReplicationRCode/models/m4/estimation.R
ReplicationRCode/models/m5/.DS_Store
ReplicationRCode/models/m5/data.R
ReplicationRCode/models/m5/estimation.R
ReplicationRCode/models/m6/.DS_Store
ReplicationRCode/models/m6/data.R
ReplicationRCode/models/m6/estimation.R
ReplicationRCode/models/m7/.DS_Store
ReplicationRCode/models/m7/estimation.R
ReplicationRCode/models/m8/.DS_Store
ReplicationRCode/models/m8/data.R
ReplicationRCode/models/m8/estimation.R
ReplicationRCode/models/mcss.bug
ReplicationRCode/models/naive.bug
ReplicationRCode/pub/.DS_Store
ReplicationRCode/pub/out/.DS_Store
ReplicationRCode/pub/paper.R
ReplicationRCode/README.txt
ReplicationRCode/results/.DS_Store
ReplicationRCode/results/data_merge.R
ReplicationRCode.zip
Manifesto_Project_API.R
.Rhistory
.RData
Manifesto_Project_API.R
.Rhistory
.RData
Random_Forest_400estimators
Manifesto_Project_processed.csv
Topic Modelling.py
Topic Modelling.py
AdaBoost.py
HistGradientBoostingClassifier.py
Random Forest Classifier.py
Topic Modelling.py
HistGradientBoostingClassifier.py
Final Project Start.py
AdaBoost.py
AdaBoost Training.py
Project Start.py
Scraps.py
